.doldurcuk {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin: 0 8px;
    border: 2px solid blue;
    transition: background-color 1s ease;
    cursor: pointer;

    &.dolu {
        background-color: blue;
    }
}
